*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cabecera{
    width: 80vw;
    height: 70px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 0px 10px;
    border: solid rgb(214, 180, 119);
    background-color: rgb(169, 113, 224);
    color: white;
}
.footer-container{
    height: 200px;
    background-color: rgb(57, 57, 237);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.list-container{
    text-align: center;
    color: white;
}

#contact{
    text-decoration: none;
    color: white;
}

#contact:hover{
    color: rgb(141, 202, 255);
}

.list-container li{
    list-style: none;
}
